<h2><%= @post.title %></h2>
<p><%= simple_format @post.body %></p>

<h4>Comments</h4>
<% if @post.comments.any? %>
  <ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.body %>
        <%= link_to "[Del]", 
          post_comment_path(@post, comment), 
          method: :delete, 
          class: "comand", 
          data: { confirm: "are you sure?" } %>
    </li>
    <% end %>
  </ul>
<% end %>
<%= form_for ([@post, @post.comments.build]) do |f| %>
<p>
  <%= f.text_field :body, placeholder: "enter contents! ass hole!!" %>
  <% if @post.errors.messages[:body].any? %>
  <span class= "error"><%= @post.errors.messages[:body][0] %></span>
  <% end %>   
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
