<!DOCTYPE html>
<html>
  <head>
    <title>KajaaBlog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1><%= link_to "kajaa blog2", root_path, :style=>
        "color: #darkblue;", class: "font" %>
      </h1>

      <%
=begin%>
 <script>
        alert("このページはいやらしいページです。本当に開きますか？");
      </script> 
<%
=end%>

      <%= yield %>
    </div>
  </body>
</html>
